/* Main Service Detail Container */
.service-detail {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #194759; /* Dark background color for the container */
  color: white;
  border-radius: 15px;
}

/* Left side structure */
.service-detail-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}

/* Upper Left: Image and Service Name */
.upper-left {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #A7F3E4; /* Box background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.service-image-container {
  width: 40%;
}

.service-image {
  width: 100%;
  border-radius: 10px;
}

.service-name-container {
  margin-left: 20px;
}

.service-detail-name {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: black;
}

.view-details {
  color: #ff4b5c;
  font-size: 1.2em;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
}

/* Lower Left: Boxes for Experience and Projects */
.lower-left {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  background-color: #A7F3E4;
  color: black;
  font-weight: 600;
  width: 48%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.box p {
  font-size: 1.8em;
  margin: 10px 0;
}

.box-icon {
  font-size: 2.5em;
  display: block;
  margin-bottom: 10px;
}

/* Right side content */
.service-detail-right {
  width: 50%;
  padding-left: 20px;
}

.service-detail-right h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.service-detail-description {
  font-size: 1.2em;
  margin-bottom: 40px;
  text-align: left;
}


.learn-more-button {
  background-color: #A7F3E4;
  color: black;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 100px;
  display: flex;
  justify-content: left;
}

.learn-more-button:hover {
  background-color: #7EBFB3;
  color: white;
}

/* Background of the entire component */
/* body {
  background-color: #121022;
} */


@media screen and (max-width: 768px) {
  .service-detail {
    flex-direction: column;
    padding: 20px;
  }

  .service-detail-left, .service-detail-right {
    width: 100%;
  }

  .lower-left {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}   