code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures that the root container takes up at least 100% of the viewport height */
}

.main-content {
  flex-grow: 1; /* Makes the content take up the remaining height, ensuring the footer stays at the bottom */
}

